

<h1>Usuários Cadastrados</h1>
{{#if resp.length}}
    <ul>
        {{#each resp}}
        <li>
            <h2>{{nome}}</h2>
            <p>{{username}}</p>
            [
        </li>
            {{!-- <form action="/desativar" method="POST">
          <input type="hidden" name="nome" value="{{nome}}">
          <input type="hidden" name="username" value="{{username}}">
                  <a href="/desativar/{{nome}}/{{username}}">
          Desativar Usuário
        </a>
        </form> --}}

        {{/each}}
    </ul>
{{else}}
    <p>Não há usuários cadastrados.</p>
{{/if}}